@charset "utf-8";

body {
    font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
    margin: 0px;
}

a, p, h1, h2, h3, h4 {
    margin-left: 20px;
    margin-right: 30px;
}


div {
    margin: 0px;
}

a {
  background-color: transparent;
}

* {
    margin: 20px;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}


p {
    font-size: 1rem;
}

.button {
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background: #f44262;
    color: white;
    border-radius: 30px;
    height: 60px;
    line-height: 60px;
    width: 150px;
}

.btn-primary {
    background: #3172ea;
}

.btn-success {
    background: #39ce7a;
}

.btn-danger {
    background: #f44262;
}

.btn-warning {
    background: #f7d00e;
    color: #333;
}


.btn-info {
    background: #720df7;
}

.btn-small {
    height: 40px;
    line-height: 40px;
    width: 110px;
}

.card {
    border: solid 1.4px #919191;
    border-radius: 8px;
}
